/*--------------------------------------------------
ALWAYS INCLUDE
--------------------------------------------------*/
* {
    box-sizing: border-box;
}

img {
    max-width: 100%;
}

/*--------------------------------------------------
PAGE RULES
--------------------------------------------------*/

.container {
    display: flex;
    padding: 50px 150px 0 150px;
}

a {
    color: blue;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/*--------------------------------------------------
HEADER
--------------------------------------------------*/

.header {
    background: #333;
    color: silver;
    max-width: 100%;
    height: 100px;
    position: relative;
}

.header h1 {
    position: absolute;
    top: 10%;
    left: 40%;
}

.header h2 {
    position: absolute;
    top: 30%;
    left: 60%;
    font-size: 14px;
}

.search {
    position: absolute;
    top: 35%;
    left: 20%;
    height: 30%;
    font-size: 14px;
}

/*--------------------------------------------------
PROFILE COLUMN
--------------------------------------------------*/

.profile_column {
	width: 35%;
	margin-right: 30px;
}

.profile_column h1 {
    font-size: 24px;
}

.profile_column p {
    font-size: 16px;
}

.profilePic {
    width: 90%;
}

.name {
    margin: 0;
}

.username {
    margin-top: 0;
}


/*--------------------------------------------------
REPO COLUMN
--------------------------------------------------*/
.repo_column h1 {
	font-size: 24px;
}

.repo_column p {
    color: grey;
}

/*--------------------------------------------------
MEDIA QUERY
--------------------------------------------------*/

@media (max-width: 850px) {

	.header .search {
		display: none;
	}

	.header h1 {
		color: white;
	}

	.header h2 {
		display: none;
	}

	.container {
		display: block;
		text-align: center;
	}

	.profile_column {
		width: 100%;
		padding-bottom: 20px;
		border-bottom: 1px solid grey;
	}

	.profilePic {
		text-align: center;
		width: 50%;
	}
}






