/*--------------------------------------------------
ALWAYS INCLUDE
--------------------------------------------------*/

* {
    box-sizing: border-box;
}

img {
    max-width: 100%;
}


/*--------------------------------------------------
PAGE RULES
--------------------------------------------------*/

.container {
    display: flex;
    padding: 50px 125px 0 125px;
}

a {
    color: blue;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

p {
    color: grey;
}


/*--------------------------------------------------
HEADER
--------------------------------------------------*/

.header {
    background: #333;
    color: silver;
    max-width: 100%;
    height: 100px;
    text-align: center;
    word-spacing: 50px;
}

.search {
    height: 30%;
    font-size: 14px;
    display: inline-block;
}

.header h1 {
    display: inline-block;
}


/*--------------------------------------------------
PROFILE COLUMN
--------------------------------------------------*/

.profile_column {
    width: 35%;
    margin-right: 30px;
}

.profile_column h1 {
    font-size: 24px;
}

.profile_column p {
    font-size: 16px;
}

.profilePic {
    width: 90%;
}

.name {
    margin: 0;
}

.username {
    margin-top: 0;
}

.follow {
    width: 80%;
}


/*--------------------------------------------------
REPO COLUMN
--------------------------------------------------*/

.repo_column h1 {
    font-size: 24px;
}

.repo_column li {
    color: fuchsia;
}

.repo_column li span {
    color: grey;
}


/*--------------------------------------------------
MEDIA QUERY
--------------------------------------------------*/

@media (max-width: 850px) {
    .header .search {
        display: none;
    }
    .header {
        color: white;
        text-align: center;
    }
    .container {
        display: block;
        text-align: center;
    }
    .profile_column {
        width: 100%;
        padding-bottom: 20px;
        border-bottom: 1px solid darkgrey;
    }
    .profilePic {
        text-align: center;
        width: 50%;
    }
}
